{% extends 'base.html' %}
{% block content %}

<h1>Shout Details</h1>

<div class="row grey lighten-2">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ shout.words }}</span>
        <p>Translation: {{ shout.translation }}</p>
        <p>Common name: {{ shout.name }}</p>
        <p>Effect: {{ shout.effect }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'shouts_update' shout.id %} " class="grey-text">Edit</a>
        <a href="{% url 'shouts_delete' shout.id %}" class="grey-text">Delete</a>
      </div>
    </div>
    <a href ="{% url 'index'%}" class="black-text">Return to All Shouts</a>
  </div>
  <div class="col s6">

    <form action="{% url 'add_shouting' shout.id%}" method="post">
      {% csrf_token %}
      {{ shouting_form.as_p }}
      <input type="submit" class='btn black' value="Add Shouting">
    </form>
    <!--if/else checking last date/time logged-->
    <br>
    {% if shout.shouted_for_today %}
      <div class="card-panel black-text center-align">Your skill using {{shout.name}} grows stronger.</div>
    {% else %}
      <div class="card-panel red-text center-align">Your Thu'um grows weak, now shout! <i>{{shout.words}}</i>!</div>
    {% endif %}

    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Time</th></tr>
      </thead>
      <tbody>
        {% for shouting in shout.shouting_set.all %}
          <tr>
            <td>{{shouting.date}}</td>
            <td>{{shouting.get_time_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  const dateEl = document.getElementById('id_date')
  //materialize gives us an element named M
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_time');
  M.FormSelect.init(selectEl)
</script>
{% endblock %}